:root {
--cream: #fef6f3;
--dark-cream: #ddd5d2;
--forest-green: #569063;
--dark-forest: #3b6344;
--light-forest: #6ab37a;
--dark-blue: #182037;
--mid-slate-blue: #6a6f7b;
--mustard: #c7ac50;
--dark-mustard: #a08a3e;
--light-mustard: #dec97f;

--body-font: 'Raleway', sans-serif;
--title-font: 'Playfair Display', serif;
}

body {
    background-image: url("../images/forest-background.jpg");
    background-color: var(--cream);
}

.hidden {
    display: none;
}


/* Styling for the top nav bar. */

.nav-row {
    background-color: var(--dark-blue);
    color: var(--cream);
    font-family: var(--body-font);
    font-size: 1.3rem;
    padding: 0.4rem;
    padding-right: 2rem;
}

.nav-row .mr-auto p {
    margin-bottom: 0rem;
}

.nav-row .col p {
    font-family: var(--title-font);
    font-size: 1.8rem;
    color: var(--light-mustard);
}


/* Styling for the center title area */

.title-area p {
    font-family: var(--body-font);
    color: var(--dark-blue);
    font-size: 2rem;
}
.title-area .splash-text {
    font-family: var(--title-font);
    font-size: 7rem;
    font-weight: 900;
    color: var(--mustard);
}

.title-area {
    margin-top: 8rem;
}

/* Styling for the project cards area */

.project-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.project-container img {
    border-radius: 3px;
    border: 1px solid var(--dark-cream);
}

.project-container .card {
    background-color: var(--cream);
    border: 1px solid var(--dark-cream);
    border-radius: 3px;
    padding: 1rem;
}

